<h1>Ubertesters Module</h1>
<h2>Description</h2>
<h2>Accessing the Ubertesters Module</h2>
<p>To access this module from JavaScript, you would do the following:</p>
<pre><code>var Ubertesters = require("com.ubertesters");
</code></pre>
<p>The Ubertesters variable is a reference to the Module object. <br />
</p>
<h2>Reference</h2>
<ul>
<li>
<p><code>initialize()</code>  Initialize Ubertesters with UbertestersOptionsLockingModeDisableUbertestersIfBuildNotExist mode</p>
</li>
<li>
<p><code>initializeWithOptions (var options)</code> Accepts string parameter.  Initializes Ubertesters with mode passed as argument. </p>
</li>
<li>
<p><code>UbertestersOptionsSlider</code> - option for using "Slider" mode. </p>
</li>
<li>
<p><code>UbertestersOptionsShake</code> - option for using "Shake" mode.</p>
</li>
<li>
<p><code>UbertestersOptionsManual</code>- option for "Manual" mode.</p>
</li>
<li>
<p><code>UbertestersOptionsLockingModeDisableUbertestersIfBuildNotExist</code> - is default option, that will not lock your application if auth function receive 74th error - "Application not found".</p>
</li>
<li>
<p><code>UbertestersOptionsLockingModeAppIfBuildNotExist</code> Ubertesters SDK locks app if build not exist.</p>
</li>
<li>
<p><code>UbertestersOptionsDefault</code> - default option (UbertestersOptionsSlider and UbertestersOptionsLockingModeDisableUbertestersIfBuildNotExist will be as default options).</p>
</li>
<li>
<p><code>UTLogInfo(var message)</code>accepts string parameter. Write to track information MESSAGE with level "INFO"</p>
</li>
<li>
<p><code>UTLogWarning(var message)</code>accepts string parameter. Write to track information message with level "WARNING"</p>
</li>
<li>
<p><code>UTLogError(var message)</code>accepts string parameter.  Write to track information message with level "ERROR"</p>
</li>
<li>
<p><code>takeScreenshot()</code> -  captures current screen.</p>
</li>
<li>
<p><code>showMenu()</code> - shows Uberstester menu</p>
</li>
<li>
<p><code>hideMenu()</code> - hides UbertestersMenu </p>
</li>
</ul>
<h2>Usage</h2>
<p>Example:</p>
<pre><code>var errorLogButton = Ti.UI.createButton({
title: 'Error Log',
top: 110,
height: 40,
width: 200
}); 
errorLogButton.addEventListener('click', function(e) {

    // Use Ubertesters error log 
    ubertesters.logError("Error log");
});
</code></pre>
<h2>Author</h2>
<p>The Ubertesters Team</p>
<h2>License</h2>
<p>Ubertesters will provide the Ubertesters SDK to you in Object Code and/or Source Code. Ubertesters hereby grants to you a nonexclusive, limited, non-transferable, revocable and non-sublicensable license to install, use, and copy Ubertesters's SDK for the purpose of debugging, monitoring, developing and operating your User App. You may include the SDK in your User App, and distribute the User App that contains the Ubertesters SDK to your End-Users. All such distribution is subject to an End-User license that (a) grants only a limited license to use the User App on the applicable mobile devices on a specified Mobile Platform, (b) disclaims all warranties and liabilities by and on behalf of Ubertesters, and (c) prohibits decompilation and reverse engineering of the Ubertesters. Ubertesters provides only the Code related to the Services-you must obtain and configure all required computer hardware, software and telecommunications services to access the Site and the Services. You agree that we may from time to time issue upgraded versions of the Ubertesters Platform, and may automatically electronically upgrade the version of the Ubertesters Platform that you are using on your mobile device. You agree to the automatic upgrading on your mobile device, and agree that the terms and conditions of these Terms will apply to any upgrades.</p>